
// Primary color
$color-primary-light: #3399e1;
$color-primary-lighter: #0b8be6;
$color-primary: #0376c6;
$color-primary-darker: #025793;
$color-primary-dark: #024371;

$color-light: #eee;
$color-white: #fefefe;
$color-grey: #bbb;
$color-dark: #333;
$color-black: #111;